html,
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* https://colordrop.io/color/17932 */
header {
    background-color: #D25565;
    height: 500px;
    width: 100%;
}

.head {
    display: block;
    position: relative;
    color: white;
    width: 100%;
    height: 105px;
}

.head b {
    position: absolute;
    padding: 30px;
    font-size: 38px;
    width: auto;
}

.head ul {
    padding: 30px;
    float: right;
    margin-right: 1%;
}

.head li {
    float: right;
    margin-left: 35px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

.head a {
    color: white;
    text-decoration: none;
}

.head a:hover {
    color: #FFFDC0;
}

.head-about {
    display: table;
    text-align: center;
    color: white;
    width: 100%;
}



.about-head p {
    color: white;
    margin-top: 0;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

.about-head {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.about-head button {
    border: none;
    background-color: #2E94B9;
    outline: none;
    width: 260px;
    height: 50px;
    color: #eeeeee;
    border-radius: 15px;    
    font-size: 15px;
    transition: background 0.3s ease;
    box-shadow: 2px 2px 2px #2983a3;
}

.about-head button:hover {
    background-color: #2983a3;
}

.about-section {
    height: auto;
    background-color: #dea96d;
}

.about-section h1 {
    text-align: center;
    padding-top: 45px;
    color: white;
    font-size: 35px;
    margin: 0;
}

.about-section p {
    color: white;
    padding-top: 25px;
    text-align: center;
    font-size: 20px;
    margin-bottom: -50px;
}

.services {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.item:nth-child(1) {
/*    margin-left: 0;*/
}

.item {
    display: inline-block;
    text-align: center;
/*    margin-left: 100px;*/
    max-width: inherit;
    margin: 60px;
}

.item > h3 {
    position: inherit;
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding-bottom: 10px;
}

.item p {
    text-align: inherit;
    font-size: 16px;
    font-weight: 100;
    margin-top: -35px;
    width: 200px;
}

.item img {
    display: block;
    position: inherit;
}

.team {
    height: auto;
    background-color: #dfdfdf;
}

.team h1 {
    text-align: center;
    padding-top: 45px;
    color: #212121;
    font-size: 35px;
    margin: 0;
}

.team > p {
    color: #212121;
    padding-top: 25px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: -50px;
}

.person {
    border-radius: 50%;
}

.item-team {
    display: inline-block;
    text-align: center;
/*    margin-left: 100px;*/
    max-width: inherit;
    margin: 60px;
}

.item-team:nth-child(1) {
/*    margin-left: 0;*/
}

.item-team > h3 {
    position: inherit;
    font-size: 24px;
    font-weight: 600;
    color: #212121;
    padding-bottom: 0;
}

.item-team p {
    text-align: inherit;
    font-size: 16px;
    font-weight: 100;
    width: 200px;
}

.team-div {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.item-team h4 {
    margin-top: -10px;
    font-size: 16px;
    color: #D25565;
}

.skills {
    height: auto;
    background-color: #2E94B9;
}

.skills h1 {
    text-align: center;
    padding-top: 45px;
    color: white;
    font-size: 35px;
    margin: 0;
}

.icons {
    display: inline-block;
    text-align: center;
    max-width: auto;
}

.icons li {
    display: inline;
    text-align: center;
    margin-right: 10px;
    transition: background 1s ease;
}

.icons li:hover {
    opacity: 0.8;
}

.icons ul {
    text-align: center;
}

.icons li:nth-child(1) {
    margin-left: -30px;
}

.skills > p {
    color: white;
    padding-top: 25px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    width: auto;
}

.skill-work {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.box-web {
  width: 170px;
  height: 170px;
  display: inline-block;
  border-radius: 50%;
  border: 15px solid transparent;
  background:
    linear-gradient(#2E94B9,#2E94B9) padding-box,
    linear-gradient(var(--v), #16335F 50%, transparent 0) border-box,
    linear-gradient(to right, #dddddd 50%, #16335F 0) border-box;
}

.skills-div {
    text-align: center;
    margin-top: -15px;
    padding-bottom: 16px;
}

.skill-item {
    display: inline-block;
    text-align: center;
    max-width: inherit;
    margin: 60px;
}




.portfolio {
    height: auto;
    background-color: #D25565;
    text-align: center;
}

.portfolio h1 {
    text-align: center;
    padding-top: 45px;
    color: white;
    font-size: 35px;
    margin: 0;
}

.portfolio > p {
    color: white;
    padding-top: 25px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.skill-item > p {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 100;
}



.box-desing {
    width: 170px;
    height: 170px;
    display: inline-block;
    border-radius: 50%;
    border: 15px solid transparent;
    background:
        linear-gradient(#2E94B9,#2E94B9) padding-box,
        linear-gradient(var(--v), #F37C3D 50%, transparent 0) border-box,
        linear-gradient(to right, #dddddd 50%, #F37C3D 0) border-box;
}



.p-skill {
    text-align: center;
    color: white;
    margin-top: 45%;
    font-size: 25px;
}

.box-android {
    width: 170px;
    height: 170px;
    display: inline-block;
    border-radius: 50%;
    border: 15px solid transparent;
    background:
        linear-gradient(#2E94B9,#2E94B9) padding-box,
        linear-gradient(var(--v), #8E0C24 50%, transparent 0) border-box,
        linear-gradient(to right, #dddddd 50%, #8E0C24 0) border-box;
}

.box-ui {
    width: 170px;
    height: 170px;
    display: inline-block;
    border-radius: 50%;
    border: 15px solid transparent;
    background:
        linear-gradient(#2E94B9,#2E94B9) padding-box,
        linear-gradient(var(--v), #6b778d 50%, transparent 0) border-box,
        linear-gradient(to right, #dddddd 50%, #6b778d 0) border-box;    
}

.portfolio-select {
    display: inline;
    text-align: center;
    max-width: auto;
}

.portfolio-select ul {
    margin-left: -55px;
}

.portfolio-select li {
    display: inline;
    text-align: center;
    margin: 10px;
}

.portfolio-select button {
    border: none;
    background-color: #F0B775;
    outline: none;
    width: 150px;
    height: 30px;
    color: #212121;
    border-radius: 15px;    
    font-size: 14px;
    transition: background 0.3s ease;
    box-shadow: 2px 2px 2px #d6a369;
}

.portfolio-select button:hover {
    background-color: #d6a369;
}

.example {
    text-align: center;
    padding-bottom: 32px;
}

.exam-work {
    display: inline-block;
    text-align: center;
    max-width: inherit;
    margin: 60px;
    margin-bottom: -40px;
}

.exam-work > h3 {
    font-size: 22px;
    font-weight: 400;
    color: white;
}

.load {
    border: none;
    background-color: #F0B775;
    outline: none;
    width: 260px;
    height: 50px;
    color: #212121;
    border-radius: 15px;    
    font-size: 15px;
    transition: background 0.3s ease;
    box-shadow: 2px 2px 2px #d6a369;
    margin-bottom: 42px;
}

.load:hover {
    background-color: #d6a369;
}

.reviews {
    height: auto;
    text-align: center;
    background-color: #dfdfdf;
}

.reviews h1 {
    text-align: center;
    padding-top: 45px;
    color: #212121;
    font-size: 35px;
    margin: 0;
}

.reviews-div {
    display: inline-block;
    text-align: center;
    max-width: auto;
    margin-left: 100px;
    margin-bottom: 42px;
}

.review {
    display: inline-block;
    text-align: center;
    max-width: inherit;
    margin: 60px;
    margin-bottom: -20px;
}

.review > img {
    float: left;
    margin-right: 16px;
}


.review p {
    font-style: oblique;
    font-size: 16px;
    font-weight: 100;
    margin-top: 0px;
    width: 500px;
}

.review .name {
    font-style: normal;
    font-size: 22px;
    color: #D25565;
    text-align: left;
    margin-left: 85px;
}

.review .comp {
    text-align: left;
    margin-left: 85px;
    margin-top: -15px;
    color: #212121;
}

.contact {
    height: auto;
    text-align: center;
    vertical-align: middle;
    background-color: #2E94B9;
}

.contact h1 {
    text-align: center;
    padding-top: 45px;
    color: white;
    font-size: 35px;
    margin: 0;
}

.contact > p {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}


::placeholder{
    color: white;
}

.contact .input {
    font-size: 17px;
    font-weight: 100;
    color: white;
    margin: 15px;
    width: 450px;
    height: 35px;
    background-color: #D25565;
    border: 2px solid #D25565;
    border-radius: 15px;
    padding-left: 15px;
}

.inputs .text {
    resize: none;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: white;
    float: left;
    margin-left: 15px;
    width: 95%;
    height: 300px;
    background-color: #D25565;
    border: 2px solid #D25565;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 15px;
}

.inputs {
    display: inline-block;
    text-align: center;
    width: inherit;
}

.send {
    border: none;
    background-color: #F0B775;
    outline: none;
    width: 260px;
    height: 50px;
    color: #212121;
    border-radius: 15px;    
    font-size: 15px;
    transition: background 0.3s ease;
    box-shadow: 2px 2px 2px #d6a369;
    margin-top: 32px;
    margin-bottom: 32px;
}

.send:hover {
    background-color: #d6a369;
}

.sites {
    height: 100px;
    text-align: center;
    background-color: #16335F;
}

.footer {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    max-width: auto;
    
    font-size: 20px;
    color: white;
}

.footer ul {
    text-align: center;
    padding-top: 15px;
    margin-left: -75px;
}

.footer li {
    display: inline;
    text-align: center;
    margin-top: 35px;
    margin: 60px;
}

.footer a {
    text-decoration: none;
    color: white;
    transition: background 0.5s ease;
}

.footer a:hover {
    color: #587AA5;
}
